/*
Bits from :
  http://www.petercollingridge.co.uk/interactive-svg-components/pan-and-zoom-control
*/
.compass {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5;
}

.button {
  fill: #225EA8;
  stroke: #0C2C84;
  stroke-miterlimit: 6;
  stroke-linecap: round;
}

.button:hover {
  stroke-width: 2;
}

.plus-minus {
  fill: #fff;
  pointer-events: none;
}
