.vertical-wrapper {
  display: inline-block;
  float: left;
  width: 80px;
  height: 210px;
  padding: 2px;
  margin: 2px;
  background:ivory;
  border: 1px solid green;
  text-align: center;
}

.vertical-wrapper meter {
  width: 150px;
  height: 20px;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

.vertical-wrapper input[type="range"] {
  width: 150px;
  height: 20px;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

.a4a-combo {
  display:inline-block;
}

.a4a-combo input[type="number"] {
  padding: 2px;
  margin: 2px;
  width: 80px;
}
