#main-content {
  position: static;
  top: 0px
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.synoptic {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/*
  Anything that can be act on gets this class
*/
.a4a-class-action:hover {
  stroke-width: 5px;
  cursor: pointer;
}

/*
  Pump Symbol
*/
.a4a-class-pump {
  stroke: silver;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.a4a-class-pump[status="off"] {
  fill: blue;
}

.a4a-class-pump[status="on"] {
  fill: lime;
}

.a4a-class-pump[status="faulty"] {
  fill: orange;
}

/*
  Valve Symbol
*/
.a4a-class-valve {
  stroke: gray;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.a4a-class-valve[status="closed"] {
  fill: blue;
}

.a4a-class-valve[status="open"] {
  fill: lime;
}

.a4a-class-valve[status="faulty"] {
  fill: orange;
}

.a4a-class-valve-body[valve-body-status="open"] {
  fill: #00ff00;
}

.a4a-class-valve-body[valve-body-status="closed"] {
  fill: #0000ff;
}

.a4a-class-valve-cmd[valve-cmd-status="on"] {
  fill: #00ff00;
}

.a4a-class-valve-cmd[valve-cmd-status="off"] {
  fill: #0000ff;
}

/*
  SH / SL LED
*/
.a4a-class-shled,
.a4a-class-slled {
  stroke: silver;
  stroke-width: 3px;
  stroke-linejoin: round;
}

.a4a-class-shled[status="off"],
.a4a-class-slled[status="off"] {
  fill: gray;
}

.a4a-class-shled[status="on"],
.a4a-class-slled[status="on"] {
  fill: red;
}

/*
  XH / XL LED
*/
.a4a-class-xhled,
.a4a-class-xlled {
  stroke: silver;
  stroke-width: 3px;
  stroke-linejoin: round;
}

.a4a-class-xhled[status="off"],
.a4a-class-xlled[status="on"] {
  fill: gray;
}

.a4a-class-xhled[status="on"],
.a4a-class-xlled[status="off"] {
  fill: lime;
}

/*
  A two-coloured LED
*/
.a4a-class-led1 {
  stroke: silver;
  stroke-width: 3px;
  stroke-linejoin: round;
}

.a4a-class-led1[status="off"] {
  fill: gray;
}

.a4a-class-led1[status="on"] {
  fill: lime;
}

.a4a-class-led1[status="faulty"] {
  fill: red;
}

/*
  Input LED reflects the status of an input bit
  Output LED reflects the status of an output bit
*/
.a4a-class-inputled,
.a4a-class-outputled {
  stroke: silver;
  stroke-width: 3px;
  stroke-linejoin: round;
}

.a4a-class-inputled[status="off"] {
  fill: gray;
}

.a4a-class-inputled[status="on"] {
  fill: lime;
}

.a4a-class-outputled[status="off"] {
  fill: gray;
}

.a4a-class-outputled[status="on"] {
  fill: yellow;
}

/*
  Acknowledge Button
*/
.a4a-ack-button {
  stroke: silver;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.a4a-ack-button[status="off"] {
  fill: gray;
}

.a4a-ack-button[status="on"] {
  fill: lightblue;
}

/*
  Green Button
*/
.a4a-green-button {
  stroke: silver;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.a4a-green-button[status="off"] {
  fill: gray;
}

.a4a-green-button[status="on"] {
  fill: green;
}

/*
  A Panel
*/
.a4a-panel {
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
  fill: white;
}

/*
  3 positions Switch
*/
.a4a-switch3 {
  stroke: grey;
  stroke-width: 1px;
  stroke-linejoin: round;
  fill: white;
}

/*
  Status : On = Ok, Off = Bad
*/
.a4a-status1 {
  width: 120px;
  height: 50px;
  padding: 10px;
  border-style: solid;
  border-color: silver;
  border-width: medium;
  border-radius: 50%;
  text-align: center;
}

.a4a-status1[status="off"] {
  background-color: red;
}

.a4a-status1[status="on"] {
  background-color: lime;
}
